<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Live Streaming Demonstration</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2 btn-group" role="group">
                <a class='btn btn-primary  mr-1' href="{{ url_for('index') }}" >normaal</a>
                <a class='btn btn-success active  mr-1' href="{{ url_for('cartoon') }}" >cartoon</a>
                <a class='btn btn-info mr-1' href="{{ url_for('pencil') }}" >pencil</a>
                <a class='btn btn-dark mr-1' href="{{ url_for('sketch') }}" >sketch</a>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming Demonstration cartoon</h3>
            <img src="{{ url_for('video_feed_cartoon') }}" width="100%">
        </div>
    </div>
</div>
</body>
</html>